<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link type="text/css" rel="stylesheet" href="../../css/nav.css" />
    <link type="text/css" rel="stylesheet" href="../../plugin/menu/dist/css/jquery.mmenu.all.css" />
    <script type="text/javascript" src="../../js/jquery.min.js"></script>
    <script type="text/javascript" src="../../plugin/menu/dist/js/jquery.mmenu.all.min.js"></script>

    <script type="text/javascript">
        $(function() {
            $('nav#menu').mmenu();
        });
    </script>
</head>

<body>

<div class="header">
    <a href="#menu"><span></span></a>
    Demo
</div>

<nav id="menu">
    <ul>
        <li><a href="/public/list/hostel">hostels Search</a></li>
        <li><a href="/hostel/hostel/info">客栈信息</a> </li>
        <li><a href="/hostel/list/schedule">客栈计划</a> </li>
        <li><a href="/hostel/list/checkIn">入住信息</a> </li>
        <li><a href="/hostel/list/reservation">预定信息</a> </li>
        <li><a href="/hostel/list/userPay">用户付款</a> </li>
        <li><a href="/hostel/list/payment">平台结账</a> </li>
    </ul>
</nav>


<div class="content">

    <div class="reservationRestrict">
            <form action="/hostel/list/checkIn">
                <input type="search" class="keyInput" name="key"/>
                <input type="submit"/>
                <input type="text" class="order" name="order"/>
                <input type="text" class="add1" name="add1"/>
                <input type="text" class="add2" name="add2"/>
                <input type="text" class="add3" name="add3"/>
                <input type="text" class="add4" name="add4"/>
                <input type="text" class="address" name="address"/>
                <input type="radio" class="computer" name="computer"/>
                <input type="radio" class="airCondition" name="airCondition"/>
                <input type="number" class="numOfBed" name="numOfBed"/>
                <input type="number" class="capacity" name="capacity"/>
                <input type="number" class="page" name="page"/>
                <input type="radio" class="asc" name="asc"/>
                <input type="number" class="pageSize" name="pageSize" value="10"/>
                <div class="priceLimit">
                    <input type="number" class="priceLower" name="priceLower"/>
                    <input type="number" class="priceUpper" name="priceUpper"/>
                </div>

                <div class="date">
                    <input type="date" class="dateLower" name="dateLower">
                    <input type="date" class="dateUpper" name="dateUpper">
                </div>
            </form>
    </div>

    <div class="myCheckIn">
        <div class="scheduleItem">
            <div class="computer">${scheduleItem.computer}</div>
            <div class="airCondition">${scheduleItem.airCondition}</div>
            <div class="numOfBed">${scheduleItem.numOfBed}</div>
            <div class="capacity">${scheduleItem.capacity}</div>
            <div class="count">${scheduleItem.count}</div>
            <div class="price">${scheduleItem.price}</div>
            <div class="startDate">${scheduleItem.startDate}</div>
            <div class="endDate">${scheduleItem.endDate}</div>
            <div class="description">${scheduleItem.description}</div>
            <div class="image">${scheduleItem.image}</div>
            <div class="people">${scheduleItem.people}</div>

            <div class="checkOut">
                <form action="/hostel/checkOut">
                    <input type="submit">
                </form>
            </div>
        </div>
    </div>

    <div class="myFooter">
    </div>
</div>



</body>

</html>