<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link type="text/css" rel="stylesheet" href="../../css/nav.css" />
    <link type="text/css" rel="stylesheet" href="../../plugin/menu/dist/css/jquery.mmenu.all.css" />
    <link type="text/css" rel="stylesheet" href="../../plugin/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="../../js/jquery.min.js"></script>
    <script type="text/javascript" src="../../plugin/menu/dist/js/jquery.mmenu.all.min.js"></script>

    <script type="text/javascript">
        $(function() {
            $('nav#menu').mmenu();
        });
    </script>
</head>

<body>

<div class="header">
    <a href="#menu"><span></span></a>
    Demo
</div>

<nav id="menu">
    <ul>
        <li><a href="/public/list/hostel">hostels Search</a></li>
        <li><a href="/hostel/hostel/info">客栈信息</a> </li>
        <li><a href="/hostel/list/schedule">客栈计划</a> </li>
        <li><a href="/hostel/list/checkIn">入住信息</a> </li>
        <li><a href="/hostel/list/reservation">预定信息</a> </li>
        <li><a href="/hostel/list/userPay">用户付款</a> </li>
        <li><a href="/hostel/list/payment">平台结账</a> </li>
    </ul>
</nav>


<div class="content">

    <div class="myCheckIn col-md-8">


        <div class="" style="display:block;">
            <div class="col-xs-12 col-sm-12 col-md-3 ">
                <a  class=" "  href="" title="" >
                    <img alt="" src="../../image/common.jpg" style="height:180px;width:190px;border-width:0px;">
                </a>
            </div>
            <diV class="col-xs-12 col-sm-12 col-md-4">
                <h3 class="">
                    <a class="" title="" href="">DARXAN</a>
                </h3>
                <a class="" title="" href="">
                    <div class="">
                        <span class="phone">18795855867</span>
                    </div>
                </a>


                <a class="">
                    <div class="">
                        <span onclick="alert('f')" class="checkout">点击checkout</span>
                    </div>
                </a>
                <a class="">
                    <div class="">
                        <span class="price"><dfn>¥</dfn><b>80.0*2</b>起</span>
                    </div>
                </a>
                <a class="">
                    <div class="">
                        <span class="price">2017-02-26 16:30:21.0</span>
                    </div>
                </a>
            </diV>

        </div>
        <div class="clearfix"></div>

    </div>


</div>



</body>

</html>