<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link type="text/css" rel="stylesheet" href="../../css/nav.css" />
    <link type="text/css" rel="stylesheet" href="../../plugin/menu/dist/css/jquery.mmenu.all.css" />
    <script type="text/javascript" src="../../js/jquery.min.js"></script>
    <script type="text/javascript" src="../../plugin/menu/dist/js/jquery.mmenu.all.min.js"></script>

    <script type="text/javascript">
        $(function() {
            $('nav#menu').mmenu();
        });
    </script>
</head>

<body>

<div class="header">
    <a href="#menu"><span></span></a>
    hostelWorld
</div>

<nav id="menu">
    <ul>
        <li><a href="/public/list/hostel">hostels Search</a></li>
        <li><a href="/hostel/hostel/info">客栈信息</a> </li>
        <li><a href="/hostel/list/schedule">客栈计划</a> </li>
        <li><a href="/hostel/list/checkIn">入住信息</a> </li>
        <li><a href="/hostel/list/reservation">预定信息</a> </li>
        <li><a href="/hostel/list/userPay">用户付款</a> </li>
        <li><a href="/hostel/list/payment">平台结账</a> </li>
    </ul>
</nav>

<div class="content">

    <div class="hostelInfo">
        <form action="/hostel/update" method="post">
            <input type="text" class="name" name="name" value="${hostel.name}"/>
            <input type="password" class="password" name="password" value="${hostel.password}"/>
            <input type="password" class="re_password" name="re_password" value="${hostel.password}"/>
            <input type="text" class="contact" name="contact" value="${hostel.contact}"/>
            <input type="number" class="phone" name="phone" value="${hostel.phone}"/>
            <input type="number" class="bankcard" name="bankcard" value="${hostel.bankcard}"/>
            <input type="text" class="hostel" name="hostel" value="${hostel.hostel}"/>
            <input type="submit">
        </form>
    </div>

    <div class="myFooter">
    </div>
</div>



</body>

</html>