<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link type="text/css" rel="stylesheet" href="../../css/nav.css" />
    <link type="text/css" rel="stylesheet" href="../../plugin/menu/dist/css/jquery.mmenu.all.css" />
    <script type="text/javascript" src="../../js/jquery.min.js"></script>
    <script type="text/javascript" src="../../plugin/menu/dist/js/jquery.mmenu.all.min.js"></script>

    <script type="text/javascript">
        $(function() {
            $('nav#menu').mmenu();
        });

    </script>
</head>

<body>

<div class="header">
    <a href="#menu"><span></span></a>
    Demo
</div>

<nav id="menu">
    <ul>
        <li><a href="/public/list/hostel">hostels Search</a></li>
        <li><a href="/hostel/hostel/info">客栈信息</a> </li>
        <li><a href="/hostel/list/schedule">客栈计划</a> </li>
        <li><a href="/hostel/list/checkIn">入住信息</a> </li>
        <li><a href="/hostel/list/reservation">预定信息</a> </li>
        <li><a href="/hostel/list/userPay">用户付款</a> </li>
        <li><a href="/hostel/list/payment">平台结账</a> </li>
    </ul>
</nav>


<div class="content">


    <div class="mySchedule">
        <div class="scheduleItem">
            <span class="computer">${scheduleItem.computer}</span>
            <span class="airCondition">${scheduleItem.airCondition}</span>
            <span class="numOfBed">${scheduleItem.numOfBed}</span>
            <span class="capacity">${scheduleItem.capacity}</span>
            <span class="count">${scheduleItem.count}</span>
            <span class="price">${scheduleItem.price}</span>
            <span class="startDate">${scheduleItem.startDate}</span>
            <span class="endDate">${scheduleItem.endDate}</span>
            <span class="description">${scheduleItem.description}</span>
            <span class="image">${scheduleItem.image}</span>
        </div>
    </div>


    <div class="scheduleSubmit">
        <form action="/hostel/list/schedule" method="post" >
            <input type="radio" class="computer" name="computer"/>
            <input type="radio" class="airCondition" name="airCondition"/>
            <input type="number" class="numOfBed" name="numOfBed"/>
            <input type="number" class="count" name="count"/>
            <input type="number" class="capacity" name="capacity"/>
            <input type="number" class="price" name="price"/>
            <input type="date" class="startDate" name="dateLower">
            <input type="date" class="endDate" name="dateUpper">
            <input type="text" class="description" name="description">
            <input type="image" class="image" name="image">
        </form>
        <button onclick="submitSchedule()">
            submit
        </button>
    </div>



    <div class="myFooter">
    </div>
</div>



</body>

</html>