<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!--<property name="hibernate.current_session_context_class">-->
            <!--org.springframework.orm.hibernate4.SpringSessionContext-->
        <!--</property>-->
        <!--* 如果使用的是本地事务（jdbc事务）-->
        <!--<property name="hibernate.current_session_context_class">thread</property>-->

        <!--* 如果使用的是全局事务（jta事务）-->
        <!--<property name="hibernate.current_session_context_class">jta</property>-->

        <!--C3P0配置 -->
        <!--在hibernate v3后转移到hibernate-c3p0.jar-->
        <property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
        <!--<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>-->
        <!--<property name="hibernate.connection.provider_class">org.hibernate.impl.jdbc.connections.internal.C3P0ConnectionProvider</property>-->
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.timeout">120</property>
        <property name="automaticTestTable">Test</property>
        <property name="hibernate.c3p0.max_statements">100</property>
        <property name="hibernate.c3p0.idle_test_period">120</property>
        <property name="hibernate.c3p0.acquire_increment">1</property>
        <property name="c3p0.testConnectionOnCheckout">true</property>
        <property name="c3p0.idleConnectionTestPeriod">18000</property>
        <property name="c3p0.maxIdleTime">25000</property>
        <property name="c3p0.idle_test_period">120</property>



        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <!--控制台打印sql-->
        <property name="show_sql">true</property>
        <!--自动更新数据库表结构-->
        <property name="hbm2ddl.auto">update</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/hostel</property>
        <!--<property name="hibernate.jdbc.batch_size">20</property>-->
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>

        <mapping class="personal.darxan.hostel.model.Administer"/>
        <mapping class="personal.darxan.hostel.model.Hostel"/>
        <mapping class="personal.darxan.hostel.model.HostelRoom"/>
        <mapping class="personal.darxan.hostel.model.Member"/>
        <mapping class="personal.darxan.hostel.model.Payment"/>
        <mapping class="personal.darxan.hostel.model.Reservation"/>

    </session-factory>
</hibernate-configuration>