<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="../../plugin/bootstrap/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="../../css/table.css">
    <style>
        tr,td,table{
            contentEditable: true;
        }
    </style>
</head>
<body>

<table class="bordered">
    <thead>
    <tr>

        <th>简单描述</th>
        <th>床数</th>
        <th>可容人数</th>
        <th>空调</th>
        <th>PC</th>
        <th>房价（含服务费）</th>
        <th></th>
    </tr>
    </thead>
    <tbody id="list">
    <tr class="list-item">

        <td title="标准大床房">
            <span><img src="../../image/default.jpg" class="" style="width: 3em;height: 3em"></span>
            <span>标准大床房</span>
        </td>
        <td><span>2</span></td>
        <td><span>2</span></td>
        <td><span>有</span></td>
        <td><span>有</span></td>
        <td>
            <span class="base_price"><dfn>¥</dfn>569</span>
        </td>
        <td>
            <a href="/public/room/">预定</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>