<!DOCTYPE html>
<html lang="en">

<head>
    <title>Title</title>

    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../../plugin/bootstrap/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="../../css/nav.css" />
    <link type="text/css" rel="stylesheet" href="../../plugin/menu/dist/css/jquery.mmenu.all.css" />
    <script type="text/javascript" src="../../js/jquery.min.js"></script>
    <script type="text/javascript" src="../../plugin/menu/dist/js/jquery.mmenu.all.min.js"></script>
    <script type="text/javascript" src="../../plugin/paginator/js/jqPaginator.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var currentPage = 1;
            var visiblePages = 10;
            var totalPage = 100;
            $('#myPagination').jqPaginator({
                totalPages: totalPage,
                visiblePages: visiblePages,
                currentPage: currentPage,
                onPageChange: function (num, type) {
                    if (num!=currentPage) {
                        $("#pageNum").attr("value", num);
                        $("#searchButton").click();
                    }
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(function() {
            $('nav#menu').mmenu();
        });
    </script>
</head>

<body>



<div class="header">
    <a href="#menu"><span></span></a>
    Demo
</div>

<nav id="menu">
    <ul>
        <li><a href="/public/list/hostel">hostels Search</a></li>
        <li><a href="/public/register/hostel">注册</a> </li>
        <li><a href="/public/register/user">注册</a> </li>
        <li><a href="/public/login/default">登陆</a> </li>
        <li><a href="/public/login/hostel">hostel登陆</a> </li>
        <li><a href="/public/login/user">会员登陆</a> </li>
        <li><a href="/public/login/admin">管理员登陆</a> </li>

    </ul>
</nav>

    <div class="myContent">

        <div class="hostelsList">

            <div class="listHeader">
                <form action="/public/list/hostel" method="get">
                    <input type="text" class="keyInput" name="keyword"/>
                    <input type="text" class="order" name="order"/>
                    <input type="radio" class="asc" name="asc"/>

                    <input type="text" class="add1" name="add1"/>
                    <input type="text" class="add2" name="add2"/>
                    <input type="text" class="add3" name="add3"/>
                    <input type="text" class="add4" name="add4"/>

                    <input type="text" class="address" name="address"/>
                    <input type="radio" class="computer" name="computer"/>
                    <input type="radio" class="airCondition" name="airCondition"/>
                    <input type="number" class="numOfBed" name="numOfBed"/>
                    <input type="number" class="capacity" name="capacity"/>
                    <input type="number" class="page" id="pageNum" name="page" value=""/>
                    <input type="number" class="pageSize" id="pageSize" name="pageSize" value=""/>
                    <input id="searchButton" type="submit"/>
                    <div class="priceLimit">
                        <input type="number" class="priceLower" name="priceLower"/>
                        <input type="number" class="priceUpper" name="priceUpper"/>
                    </div>

                    <div class="date">
                        <input type="date" class="dateLower" name="dateLower">
                        <input type="date" class="dateUpper" name="dateUpper">
                    </div>
                </form>
            </div>


            <div class="listItems">

                <div class="listItem">

                    <div class="price">${room.price}</div>
                    <div class="name">${room.name}</div>
                    <div class="contact">${room.contact}</div>

                    <div class="capacity">${room.capacity}</div>
                    <div class="numOfBed">${room.numOfBed}</div>
                    <div class="airCondition">${room.airCondition}</div>
                    <div class="computer">${room.computer}</div>

                    <div class="description">${room.description}</div>

                    <a href="/hostel/hostel">${room.name}</a>
                </div>
            </div>

            <div class="myPager">
                <ul id="myPagination" class="pagination" ></ul >
            </div>

        </div>
    </div>
    <div class="myFooter"></div>

</body>

</html>