<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="../../plugin/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="../../js/jquery.min.js"></script>
    <script type="text/javascript" src="../../plugin/paginator/js/jqPaginator.js"></script>
    <script>
        $(document).ready(function () {
            $('#myPagination').jqPaginator({
                totalPages: 100,
                visiblePages: 10,
                currentPage: 1,
                onPageChange: function (num, type) {
                    alert('当前第' + num + '页');
                }
            });
        });
    </script>
</head>
<body>

<div>
    <ul id="myPagination" class="pagination" ></ul >
</div>
</body>
</html>