<!DOCTYPE html>
<html lang="en">

<head>

    <title>Title</title>

    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../../css/nav.css" />
    <link type="text/css" rel="stylesheet" href="../../plugin/menu/dist/css/jquery.mmenu.all.css" />
    <script type="text/javascript" src="../../js/jquery.min.js"></script>
    <script type="text/javascript" src="../../plugin/menu/dist/js/jquery.mmenu.all.min.js"></script>

    <script type="text/javascript">
        $(function() {
            $('nav#menu').mmenu();
        });
    </script>
</head>

<body>

<div class="header">
    <a href="#menu"><span></span></a>
    hostelWorld
</div>

<nav id="menu">
    <ul>
        <li><a href="/public/hostel">hostels Search</a></li>

        <li><a href="/user/user">用户信息</a> </li>
        <li><a href="/user/list/checkIn">入住信息</a> </li>
        <li><a href="/user/list/reservation">预定信息</a> </li>
        <li><a href="/user/list/userPay">用户付款</a> </li>
    </ul>
</nav>

<div class="content">

    <div class="myFooter">
    </div>
</div>



</body>

</html>