.tab-h2 {
    color:#0059b2;
    font-size:20px;
    letter-spacing: 1px;
    text-align:center;
    margin:45px 0 10px;
}

.tab-larger {
    font-size: 18px;
    letter-spacing: 1px;
    text-align:center;
    color: #999;
    margin:15px 0 15px;
}

.tab-p {
    font-size: 18px;
    letter-spacing: 1px;
    text-align:center;
    color: #999;
    margin:15px 0 45px;
}

.tab-close {
    font-size: 15px;
    letter-spacing: 2px;
    text-align:center;
    color: #999;
    margin:10px 0 15px;
}