.table-input  input {
    border: none;
    overflow-x:visible;
    overflow-y:visible;
    margin: 0;
    padding: 0;
}
.narrow-table input {
    width: 3em;
}
.narrow-input {
    width: 3em;
}

.date-input {
    width: 9em;
}
