<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link type="text/css" rel="stylesheet" href="../../css/nav.css" />
    <link type="text/css" rel="stylesheet" href="../../plugin/menu/dist/css/jquery.mmenu.all.css" />
    <script type="text/javascript" src="../../js/jquery.min.js"></script>
    <script type="text/javascript" src="../../plugin/menu/dist/js/jquery.mmenu.all.min.js"></script>

    <script type="text/javascript">
        $(function() {
            $('nav#menu').mmenu();
        });
    </script>
</head>

<body>

<div class="header">
    <a href="#menu"><span></span></a>
    hostelWorld
</div>

<nav id="menu">
    <ul>
        <li><a href="/public/hostel">hostels Search</a></li>
        <li><a href="/admin/admin">admin</a> </li>
        <li><a href="/admin/finance">finance</a> </li>
        <li><a href="/admin/user">user</a> </li>
        <li><a href="/admin/hostel">hostel</a> </li>
    </ul>
</nav>

<div class="content">

    <div class="myFooter">
    </div>
</div>



</body>

</html>